.button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #104634;
  border-radius: 204px;
  height: 50px;
  padding: 2px 30px 0;
  position: relative;
  -webkit-box-shadow: 0 4px 8px rgba(22, 95, 71, .4);
  box-shadow: 0 4px 8px rgba(22, 95, 71, .4)
}

a.button, a.button:hover {
  text-decoration: none
}

@media (max-width: 767px) {
  .button {
    height: 40px;
    font-size: 14px;
    padding: 0 24px
  }
}

.button:after, .button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit
}

.button:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#a0e9d1), color-stop(16.15%, #65dcb5), color-stop(85.42%, #29b385), to(#25a279));
  background: -webkit-linear-gradient(top, #a0e9d1, #65dcb5 16.15%, #29b385 85.42%, #25a279);
  background: -moz-linear-gradient(top, #a0e9d1 0, #65dcb5 16.15%, #29b385 85.42%, #25a279 100%);
  background: linear-gradient(180deg, #a0e9d1, #65dcb5 16.15%, #29b385 85.42%, #25a279)
}

.button:after {
  background: -webkit-gradient(linear, left top, left bottom, from(#c9f3e5), color-stop(16.15%, #8fe5c9), color-stop(85.42%, #3cd2a1), to(#2ecb98));
  background: -webkit-linear-gradient(top, #c9f3e5, #8fe5c9 16.15%, #3cd2a1 85.42%, #2ecb98);
  background: -moz-linear-gradient(top, #c9f3e5 0, #8fe5c9 16.15%, #3cd2a1 85.42%, #2ecb98 100%);
  background: linear-gradient(180deg, #c9f3e5, #8fe5c9 16.15%, #3cd2a1 85.42%, #2ecb98);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  -o-transition: opacity var(--transition), visibility var(--transition);
  -moz-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition)
}

@media (min-width: 992px) {
  .button:hover:after {
    opacity: 1;
    visibility: visible
  }
}

.button_large {
  height: 70px;
  padding: 0 50px;
  letter-spacing: .1em;
  font-size: 20px
}

@media (max-width: 767px) {
  .button_large {
    height: 55px;
    font-size: 17px;
    padding: 0 25px;
    width: 100%
  }
}

.button__icon {
  font-size: 20px;
  position: relative;
  top: -1px;
  z-index: 2;
  margin-left: 10px
}

@media (max-width: 767px) {
  .button__icon {
    font-size: 16px
  }
}

.button span {
  position: relative;
  z-index: 2
}
